# ── MongoDB ──────────────────────────────────────────────────────
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/?appName=Cluster0
MONGODB_DATABASE=stock_db

# ── Snowflake ────────────────────────────────────────────────────
SNOWFLAKE_ACCOUNT=<account_locator>.<region>.aws   # e.g. mj18661.ap-southeast-7.aws
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_DATABASE=NASDAQPULSE
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_WAREHOUSE=COMPUTE_WH

# ── Groq ─────────────────────────────────────────────────────────
GROQ_API_KEY=your_groq_api_key   # get from console.groq.com
